body{
    font-size:14px;
}
/*位置css*/
.mt100{
    margin-top:100px;
}
.ml20{
    margin-left: 20px;
}
/*浮动*/
.clboth{
    clear:both;
}
/*宽度*/
.w400{
    width:400px;
}

/*树相关样式*/
ul,li{
    list-style:none;
    margin:0px;             
}
.rootNode{
    border-left:1px solid #cecece;  
}
.firstNodeBorder{
    border-left:1px solid #cecece;  
}
.treeTable li.selected{
    background-color:#98cef4;
}
.treeTable div.selected{
    background-color:#98cef4;
}
.treeTable li{
    float:left;
    border-top:1px solid #cecece;
    border-bottom:1px solid #cecece;    
    border-right:1px solid #cecece;     
    height:30px; 
    line-height:30px; 
    padding:0px 13px;
}
.childUl{
    clear:both;
    margin-left:-40px;
}
.childUl>li{
    border-top:0px;
} 
.treeTable li div{      
    height:30px;    
    line-height:30px; 
    padding-left:13px; 
    border-right:1px solid #cecece; 
    border-bottom:1px solid #cecece;
}
.treeTable li.parentLi{
    padding-left:0px;
    padding-right:0px;
    padding-bottom:0px;
    border-right:0px;
    border-bottom:0px;
}