<!DOCTYPE html>
<html>

<head>
  <% include ../partials/header.ejs %>
  <!-- <link rel="stylesheet" href="./aplayer/dist/APlayer.min.css"> -->
</head>

<body>

  <!-- <% include ../partials/nav.ejs %> -->

  <div id="aplayer"></div>

  <!-- <div class="jumbotron text-center">
    <div class="container">
      <a href="/" class="lang-logo">
        <img src="/lang-logo.png">
      </a>
      <h1>嘴里有刀 说破歌谣</h1>
      <a type="button" class="btn btn-lg btn-default" href="JavaScript-Add-on/playground/table_related/batch_crud/BatchCRUDTable.html"><span
          class="glyphicon glyphicon-flash"></span> 闪电按钮</a>
      <a type="button" class="btn btn-lg btn-primary" href="https://github.com/SailHe/node-web">
        <span class="glyphicon glyphicon-download"></span>GitHub</a>
    </div>
  </div> -->
  <div class="container">
    SailHe的Demo列表
    <div class="alert alert-info text-center" role="alert">
      2021-03月:--------------------------基于React+MATERIAL-UI的工作组NAS管理面板
      </br>
      <a href="/" class="alert-link">在线演示</a>
      </br>
      2019-03月:----------------基于jQuery+jQuery-UI+Bootstrap的Ajax异步批量增删改前端实现
      </br>
      <a href="JavaScript-Add-on/playground/table_related/batch_crud/BatchCRUDTable.html" class="alert-link">在线演示</a>
      <a href="JavaScript-Add-on/playground/table_related/datatable_rowspan/rowSpanTest.html" class="alert-link">在线演示</a>
      <a href="https://github.com/SailHe/JavaScript-Add-on/blob/master/src/playground/table_related/batch_crud" class="alert-link">源码</a>
    </br>
    </div>
    <hr>
    <!-- <div class="row">
      <div class="col-md-6">
        <h3><span class="glyphicon glyphicon-link"></span> Helpful Links </h3>
        <ul>
          <li><a href="https://www.heroku.com/home">Heroku</a></li>
          <li><a href="https://devcenter.heroku.com/">Heroku Dev Center</a></li>
          <li><a href="https://devcenter.heroku.com/articles/getting-started-with-nodejs">
              Getting Started with Node on Heroku</a>
          </li>
          <li><a href="https://devcenter.heroku.com/articles/deploying-nodejs">Deploying Node Apps on Heroku</a></li>
        </ul>
      </div>
      
      <div class="col-md-6">
        <h3><span class="glyphicon glyphicon-link"></span> 下一步 </h3>
        <ul>
          <li>如果是跟随教程来到此处, 请回去进行下一步
            <a href="https://devcenter.heroku.com/articles/getting-started-with-nodejs">Getting Started</a>
          </li>
          <li>若是走部署流程: </li>
          <ul>
            <li><code>git clone https://github.com/heroku/node-js-getting-started.git</code> - 克隆仓库到本地</li>
            <li><code>cd node-js-getting-started</code> - 进入仓库目录</li>
            <li><code>heroku git:remote -a &lt;your-app-name></code> - 关联此仓库与Heroku app</li>
            <li>你现在已经建立(set up)了此app的本地运行环境, 可以参考此处 <a href="https://devcenter.heroku.com/articles/getting-started-with-nodejs#push-local-changes">部署</a> 更改到 Heroku</li>
          </ul>
        </ul>
        
      </div> -->
  </div>
  <!-- row -->
  <div class="alert alert-info text-center" id="testInfo" role="alert">
    底部告示
  </div>
  </div>

</body>


<!-- <script src="./aplayer/dist/APlayer.min.js"></script> -->
<script src="./b-index.js"></script>

<script>
  $('#testInfo').text("此页面基于ejs");
  $.ajax({
    type: 'get',
    url: './api?fileName=test.json',
    success: (result) => {
      console.log("api get suc");
      console.log(result);
    }, error: (err) => {
      console.log('api get err');
    }
  });

  // 创建一个对象
  var person = {
    name: "lucy",
    age: 25
  }
  $.post("./postJSONTest", (data, status) => {
    console.log("postJSONTest Data: " + data + " Status: " + status);
  });
  // 通过JQuery 发送POST请求，内容是person
  $.post("./saveJSON", person, (data, status) => {
    console.log("saveJSON Data: " + data + " Status: " + status);
  });
</script>

</html>